.logo-top5 {
    width: 10%;
    filter: invert(100%);
    margin: 1rem 0 0 0;
}

.carousel-inner {
    height: 20em;
    width: 100%;
    object-fit: cover;
    object-position:0 0;
}

.timer-wrapper {
    background-color: #BC6C25;
    color: #FEFAE0;
    padding: 3rem;
}

#billetterie {
    color: #283618;
}

.banner-wrapper, .timer-wrapper {
    position: relative;
    text-align: center;
}

.banner-img {
    height: 15em;
    width: 100%;
    object-fit: cover;
    object-position:0 30%;
}

.banner-txt {
    color: #FEFAE0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:max-content;
}