body {
    background-color: #FEFAE0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.navbar {
    background-color: #283618;
}
.navbar, .navbar-brand, .nav-link, .navbar-text, .navbar-toggler-icon {
    color: #DDA15E;
    font-family: "DejaVu Sans";
}
.navbar-brand {
    font-family: "Juice ITC";
    font-weight: bold;
    font-size: 2rem;
}
.nav-link:hover, .navbar-brand:hover, .nav-link-active, a:active, a::selection {
    color: #FEFAE0;
}

h1, h2, h3, h4 {
    font-family: Bahnschrift;
}
h1 {
    font-size: 7.5vw;
    margin-bottom: -1.25vw;
    font-weight: bolder;
    text-shadow: 0 0 10px #606C38;
}
h2 {
    font-size: 3vw;
    text-shadow: 0 0 5px #283618;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}

.logo-phyllium {
    width:30px;
    height:24px;
}

.btn-fright {
    margin-left: 1em;
    float: right;
}
.btn-fleft {
    margin-right: 1em;
    float: left;
}

.svg-icon-white {
    height: 1em;
    filter: invert(100%) sepia(64%) saturate(417%) hue-rotate(330deg) brightness(102%) contrast(99%);
}

strong {
    color: #606C38;
}

#link-inscription {
    padding-right: 2vw;
}

.group-separation {
    margin-top: 1rem;
    padding: 1rem 0;
}

.form-error {
    color: #dc3545;
}