.map-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 3px solid #252222;
}

.map-animal-thumbnail {
    transition: border 0.2s;
    object-fit:cover;
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: 3px solid #252222;
}

.map-animal-thumbnail:hover {
    transition: border 0.2s;
    border: 10px solid #252222;
}

.svg-icon-animal-pos {
    position:absolute;
    width: 4vw;
    filter: invert(7%) sepia(9%) saturate(420%) hue-rotate(314deg) brightness(100%) contrast(85%);
}